.responsive {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 99%;
  max-width: 100%;
  height: auto;
}

@media only screen and (max-width: 600px) {
  .responsive {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 99%;
    max-width: 100%;
    height: auto;
  }
}